/*:root {
  --grid-cols: 1;
  --grid-rows: 1;
}*/
html{
  background-color: #e90b0b;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container {
  display: grid;
  border: solid 1px;
  width: 500px;
  height: 500px;
  
}

.grid-item {
  /*padding: 1em;*/
  border: 1px solid #ddd;
  text-align: center;
  background-color: rgb(221, 226, 230);
}

.logo{
  font-family:"Bradley Hand", cursive,sans-serif;
  font-size: xx-large;
  color: aliceblue;
}
.scale{
  width: 100%; /* Width of the outside container */
}

/* The scale itself */
.scale {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height:5px; /* Specified height */
  background: #000000; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.scale:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The scale handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.scale::-webkit-scale-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific scale handle width */
  height: 25px; /* scale handle height */
  background: #06eb62; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.scale::-moz-range-thumb {
  width: 25px; /* Set a specific scale handle width */
  height: 25px; /* scale handle height */
  background: #e90b0b; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: solid 3px;
}

.scalePlacement{
  display: flex;
  margin-right: 200px;
  margin-top: 30px;
}

button{
  margin-left: 200px;
  background-color: blue;
  color: white;
}